email_responder.SANITIZED.json
{
  "name": "Email-Responder",
  "nodes": [
    {
      "parameters": {
        "pollTimes": {
          "item": [
            {
              "mode": "everyMinute"
            }
          ]
        },
        "filters": {
          "readStatus": "unread"
        }
      },
      "type": "n8n-nodes-base.gmailTrigger",
      "typeVersion": 1.2,
      "position": [
        -1680,
        -80
      ],
      "id": "427bc824-3181-488f-b5b3-d495c1b02665",
      "name": "Gmail Trigger"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-4.1-mini"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        -464,
        192
      ],
      "id": "7a4cf89b-6bf2-44d2-afa6-acdd066300c2",
      "name": "OpenAI Chat Model"
    },
    {
      "parameters": {
        "sendTo": "={{ $('Gmail Trigger').item.json.From.match(/<([^>]+)>/)[1] }}\n",
        "subject": "=Re: {{ $('Gmail Trigger').item.json.Subject }}",
        "emailType": "text",
        "message": "={{ $json.output }}",
        "options": {}
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        -64,
        64
      ],
      "id": "46e98fbf-6ffb-4b66-b94d-441698886f38",
      "name": "Send a message"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "cdf70e7f-4cad-4432-ba47-afc1c0bfcc5a",
              "leftValue": "={{ $json.From }}",
              "rightValue": "@spam.com",
              "operator": {
                "type": "string",
                "operation": "notContains"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -1488,
        -80
      ],
      "id": "8366624d-225f-427f-b878-a53ddd48656c",
      "name": "check sender validity"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -1264,
        80
      ],
      "id": "dac08c14-227d-4926-8bf8-f5ca46d62485",
      "name": "stop spam"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=",
        "options": {
          "systemMessage": "=You are a smart assistant.\nSummarize the following email clearly and concisely.\n\nEmail:\n{{ $('Gmail Trigger').item.json.snippet }}\n\nProvide a professional summary in 2–3 sentences.\n"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2.1,
      "position": [
        -1280,
        -320
      ],
      "id": "7ea84edc-31c6-4097-989d-71e72a05c6f7",
      "name": "AI Agent1"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "gpt-4.1-mini",
          "mode": "list",
          "cachedResultName": "gpt-4.1-mini"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        -1248,
        -80
      ],
      "id": "a1dc564f-254c-457b-ae00-23b07b4235db",
      "name": "OpenAI Chat Model1"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "gpt-4o-mini",
          "mode": "list",
          "cachedResultName": "gpt-4o-mini"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        -272,
        -256
      ],
      "id": "a04efcb0-4b83-4c59-af8f-16bc63d81704",
      "name": "OpenAI Chat Model2"
    },
    {
      "parameters": {
        "authentication": "oAuth2",
        "select": "channel",
        "channelId": {
          "__rl": true,
          "value": "__SLACK_CHANNEL_ID__",
          "mode": "list"
        },
        "text": "=Tu as reçu un mail URGENT de {{ $('Gmail Trigger').item.json.From }}  Sujet :{{ $('Gmail Trigger').item.json.Subject }}",
        "otherOptions": {}
      },
      "type": "n8n-nodes-base.slack",
      "typeVersion": 2.3,
      "position": [
        -560,
        -448
      ],
      "id": "60c1ff8d-75eb-491c-8a63-c1bdb37f3c46",
      "name": "alert urgent"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=",
        "options": {
          "systemMessage": "=Analyze the following email and answer with only \"yes\" or \"no\".\n\nDoes the message include a meeting or appointment request (mentioning a date, time, or asking for availability)?\nYour answer must be either \"yes\" or \"no\", nothing else.\nEmail content:\n{{ $('Gmail Trigger').item.json.snippet }}\n"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2.1,
      "position": [
        -320,
        -512
      ],
      "id": "ba8f63ac-3524-4b25-bb53-655a957a41b6",
      "name": "detect meeting"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "4d98ae76-b374-467a-909e-92449c245dd0",
              "leftValue": "={{ $json.output }}",
              "rightValue": "yes",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            },
            {
              "id": "ae3ef940-e4e4-4195-8d60-893d5156fca3",
              "leftValue": "",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        64,
        -496
      ],
      "id": "74e829b1-8024-484e-8748-1561bcdeab9d",
      "name": "If"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=",
        "options": {
          "systemMessage": "=You are a professional email assistant.\n\nYou will be given the content of an email (snippet) that may or may not include a request for a meeting or appointment.\n\nYour task is to generate a short and polite reply that:\n- Acknowledges the received message\n- Confirms interest in scheduling a meeting if applicable\n- Asks for confirmation of the proposed time, or invites the sender to suggest a time\n- Responds in the same language as the input (French or English)\n- Ends the message with \"Khadija El Gourain\"\n\n\nHere is the email content:\n{{ $('Gmail Trigger').item.json.snippet }}\n"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2.1,
      "position": [
        304,
        -592
      ],
      "id": "c5a00a4f-5dfc-4067-95e0-518c25fb61ba",
      "name": "Generate Meeting"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "bd0f5660-7a96-45d6-a43d-5bddc09dd708",
              "leftValue": "={{ $('Gmail Trigger').item.json.snippet }}",
              "rightValue": "urgent",
              "operator": {
                "type": "string",
                "operation": "contains"
              }
            },
            {
              "id": "d27691cd-220e-4e9d-8766-0d1e1af00625",
              "leftValue": "={{ $('Gmail Trigger').item.json.snippet }}",
              "rightValue": "réunion",
              "operator": {
                "type": "string",
                "operation": "contains"
              }
            },
            {
              "id": "66fb1702-4d05-44b2-ae39-4e019e234266",
              "leftValue": "={{ $('Gmail Trigger').item.json.snippet }}",
              "rightValue": "important",
              "operator": {
                "type": "string",
                "operation": "contains"
              }
            },
            {
              "id": "c23d069f-1013-4963-8341-08b5ed7ab064",
              "leftValue": "={{ $('Gmail Trigger').item.json.snippet }}",
              "rightValue": "immédiat",
              "operator": {
                "type": "string",
                "operation": "contains"
              }
            }
          ],
          "combinator": "or"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -912,
        -272
      ],
      "id": "23767ec8-6466-4e54-85bf-20c0bc640c00",
      "name": "check important"
    },
    {
      "parameters": {
        "sendTo": "={{ $('Gmail Trigger').item.json.From.match(/<([^>]+)>/)[1] }}",
        "subject": "={{ $('Gmail Trigger').item.json.Subject }}",
        "message": "={{ $json.output }}",
        "options": {}
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        672,
        -512
      ],
      "id": "6bae1414-5167-4519-ad8d-bd3e3dfaf94c",
      "name": "Send a message1"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "gpt-4o-mini",
          "mode": "list",
          "cachedResultName": "gpt-4o-mini"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        384,
        -16
      ],
      "id": "ba4ca9cc-6c40-4168-b056-971a9c1e7ba3",
      "name": "OpenAI Chat Model4"
    },
    {
      "parameters": {
        "sendTo": "={{ $('Gmail Trigger').item.json.From.match(/<([^>]+)>/)[1] }}",
        "subject": "={{ $('Gmail Trigger').item.json.Subject }}",
        "emailType": "text",
        "message": "={{ $json.output }}",
        "options": {}
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        720,
        -176
      ],
      "id": "44f24a6c-7a25-43f0-8e18-d479ae9a57ab",
      "name": "Send a message2"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=",
        "options": {
          "systemMessage": "=You are a professional email assistant that automatically replies to incoming messages.\nUse the content of the email below to craft a clear, polite, professional, and concise reply in French.\n\nThis is an important message that requires a timely and respectful answer, but does not concern a meeting.\nRespond in a helpful and respectful tone.\nSign the message with exactly this:\n\nCordialement,\nKhadija El Gourain\n\nNew Email:\nFrom: {{ $('Gmail Trigger').item.json.From }}\nSubject: {{ $('Gmail Trigger').item.json.Subject }}\nContent: {{ $('Gmail Trigger').item.json.snippet }}"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2.1,
      "position": [
        304,
        -192
      ],
      "id": "dab8c4eb-84c2-47c7-abc2-c7a291e383ce",
      "name": "generate important"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=",
        "options": {
          "systemMessage": "=You are a professional email assistant that automatically replies to incoming messages.  \nUse the content of the email below to craft a clear, polite, professional, and concise reply in French.\n\n New Email:\nFrom: {{ $('Gmail Trigger').item.json.From }}\nSubject: {{ $('Gmail Trigger').item.json.Subject }}\nContent: {{ $('Gmail Trigger').item.json.snippet }}\n\n Respond in a helpful and respectful tone, signing the message with:\nCordialement,  \nKhadija El Gourain\n"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2,
      "position": [
        -464,
        -32
      ],
      "id": "5f84df50-a41b-4ea6-a751-e0abf73bb839",
      "name": "reponse normal"
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "__GOOGLE_SHEET_DOC_ID__",
          "mode": "list"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "From": "={{ $('Gmail Trigger').item.json.From }}",
            "Subject": "={{ $('Gmail Trigger').item.json.Subject }}",
            "Response": "={{ $('generate important').item.json.output }}",
            "Summary": "={{ $('AI Agent1').item.json.output }}",
            "Date": "={{ $now }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "Date",
              "displayName": "Date",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "From",
              "displayName": "From",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Subject",
              "displayName": "Subject",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Summary",
              "displayName": "Summary",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Response",
              "displayName": "Response",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "type",
              "displayName": "type",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.6,
      "position": [
        1008,
        -176
      ],
      "id": "aa9cd91e-c373-4582-a36a-c2c86d93ab72",
      "name": "Append row in sheet"
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "__GOOGLE_SHEET_DOC_ID__",
          "mode": "list"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Date": "={{ $now }}",
            "From": "={{ $('Gmail Trigger').item.json.From }}",
            "Subject": "={{ $('Gmail Trigger').item.json.Subject }}",
            "Response": "={{ $('Generate Meeting').item.json.output }}",
            "Summary": "={{ $('AI Agent1').item.json.output }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "Date",
              "displayName": "Date",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "From",
              "displayName": "From",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Subject",
              "displayName": "Subject",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Summary",
              "displayName": "Summary",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Response",
              "displayName": "Response",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.6,
      "position": [
        912,
        -512
      ],
      "id": "9a4457a2-ea1c-4479-bf86-238de7f7f2de",
      "name": "Append row in sheet1"
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "__GOOGLE_SHEET_DOC_ID__",
          "mode": "list"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Date": "={{ $now }}",
            "From": "={{ $('Gmail Trigger').item.json.From }}",
            "Subject": "={{ $('Gmail Trigger').item.json.Subject }}",
            "Summary": "={{ $('AI Agent1').item.json.output }}",
            "Response": "={{ $('reponse normal').item.json.output }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "Date",
              "displayName": "Date",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "From",
              "displayName": "From",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Subject",
              "displayName": "Subject",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Summary",
              "displayName": "Summary",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Response",
              "displayName": "Response",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.6,
      "position": [
        144,
        64
      ],
      "id": "8e843d09-2078-48e7-bbb6-03580742486c",
      "name": "Append row in sheet2"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-4.1-mini"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        304,
        -384
      ],
      "id": "eba45a1d-64d9-4ab0-904a-a93c25116aa1",
      "name": "OpenAI Chat Model3"
    }
  ],
  "pinData": {},
  "connections": {
    "Gmail Trigger": {
      "main": [
        [
          {
            "node": "check sender validity",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "reponse normal",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "check sender validity": {
      "main": [
        [
          {
            "node": "AI Agent1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "stop spam",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send a message": {
      "main": [
        [
          {
            "node": "Append row in sheet2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent1": {
      "main": [
        [
          {
            "node": "check important",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model1": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent1",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model2": {
      "ai_languageModel": [
        [
          {
            "node": "detect meeting",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "alert urgent": {
      "main": [
        [
          {
            "node": "detect meeting",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "detect meeting": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "Generate Meeting",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "generate important",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Generate Meeting": {
      "main": [
        [
          {
            "node": "Send a message1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "check important": {
      "main": [
        [
          {
            "node": "alert urgent",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "reponse normal",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model4": {
      "ai_languageModel": [
        [
          {
            "node": "generate important",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "generate important": {
      "main": [
        [
          {
            "node": "Send a message2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "reponse normal": {
      "main": [
        [
          {
            "node": "Send a message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send a message2": {
      "main": [
        [
          {
            "node": "Append row in sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send a message1": {
      "main": [
        [
          {
            "node": "Append row in sheet1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model3": {
      "ai_languageModel": [
        [
          {
            "node": "Generate Meeting",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "tags": []
}